h1 {
    background-color: orange;
    color: black;
    height: 75px;
}
  
nav {
    background-color: black;
    color: orange;
}
  
section {
    background-color: lightseagreen;
    height: 500px;
}

.box-1 {
    background-color: lightpink;
}

.box-2 {
    background-color: lightsalmon;
}

footer {
      background-color: lightskyblue;
      color: black;
      height: 100px;
}